
:root{

    --cor-de-fundo:rgb(250, 239, 142); 
    --blue:rgb(142, 225, 250); 
    --white:rgb(255, 255, 255);
    --botao-ativa:rgb(250, 207, 142); 
    --texto-fundo:rgb(250, 248, 142);  
}

body{ 
    background-color: rgb(255, 240, 240);
    color:aqua;
}

h2{
color: red;
font-family: Playfair Display;
font-size: ;
}
